main{
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    height: 100vh;
}
.hora{
    padding: 1rem;
    margin: 0 auto;
    border-radius: 15px;
    border: 5px yellow solid;
    width:20rem;
}
.hora h1{
    margin-bottom: 2rem;
}
.hora img{
    border-radius: 50%;
}
.hora p{
    margin-top: 2rem;
    font-size: 2rem;
}