@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Yanone+Kaffeesatz:wght@300;500&display=swap');

:root{
    --font-principal: font-family: 'Raleway', sans-serif;
    --font-secundaria: font-family: 'Yanone Kaffeesatz', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.conteiner{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;     
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
header{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: rgb(75, 73, 73) solid 2px;
}
header i{
    padding: 1rem;
    font-size: 3rem;
    color: yellow;
}

.menu{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 2;
    gap: 1rem;
}

.menu a{
    font-family: var(--font-secundaria);
    font-weight: 300;
    color: white;
    font-size: 1.3rem;
    text-shadow: 5px 5px rgb(7, 7, 7);
    padding: 1rem;
    border-radius: 11px;
}

.menu a:hover{
    border: 2px solid yellow;
    background-color: rgba(0, 0, 0, 0.192);
    transition: all 1s;
}

.principal{
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding-bottom: 5rem;
}
@keyframes entrada{
    0% {
        left: -100rem;
    }
    100%{
        left: 0rem;
    }
}
.principal img{
    position: relative;
    border-radius: 50%;
    animation: entrada 2s;
}
.java-texto{
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: white;
    animation: entrada 3s;
}

.java-texto strong{
    background-color: yellow;
    color: black;
    padding: .5rem;
    border-radius: 10px;
}

.java-texto h1{
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 2rem;
}

.java-texto p{
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1rem;
}
.java-texto a{
    margin: 0 auto;
    width: 15rem;
    font-family: var(--font-secundaria);
    font-weight: 500;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 15px;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    transition: opacity 1s;
}
.java-texto a:hover{
    opacity: .5;
}

.sobre-java{
    padding-bottom: 5rem;
}

#texto{
    padding-top: 3rem;
    border-top: 2px solid yellow;
    text-align: center;
    color: white;
    margin: 0 auto;
}


#texto-h2{
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem;
}

#texto-img{
    border-radius: 15px;
}

#texto-p{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: var(--font-secundaria);
    width: 80%;
}
.diferenças{
    border-bottom: solid 2px yellow;
    padding-bottom: 10rem;
}
.diferenças h3{
    font-family: var(--font-secundaria);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2rem;
}

#list-style{
    padding: 2rem;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 2px yellow;
    width: 80%;
}
.diferenças li{
    padding: 1rem;
    text-align: justify;
}

footer{
    background-color: black;
    color: white;
}
.rodape{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 8rem;
}
.rodape_01 i{
    margin: 0 auto;
    padding: 2rem;
    color: yellow;
    font-size: 3rem;
}
.rodape_01 p{
    padding-left: 1rem;
    font-size: 1.2rem;
}

.rodape_02{
    text-align: center;
    padding-top: 2rem;
}
.rodape_02 h4{
    font-size: 2rem;
}
.rodape_02 a{
    color: yellow;
}

.rodape_03{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.rodape_03 a{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 4px solid rgb(243, 237, 237);
    background-color: yellow;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
    width: 6rem;
}
.rodape_03 h4{
    padding-right: 5rem;
    text-align: center;
}
.rodape_03 a:hover{
    opacity: 0.7;
}

.rodape_03 i{
   font-size: 1.5rem;
}
.botao{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-grow: 2;
    gap: 1rem;
    width: 20em;
}
#b1{
    color: red;
}
#b2{
    color: rgb(0, 183, 255);
}
#b3{
    color: #c13584;
}
#b4{
    color: black;
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;  
    z-index:999;
}
#preloader .inner {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);  
}
.btnTop{
    position: fixed;
    right: 1rem;
    background-color: yellow;
    font-size: 1.5rem;
    color: rgb(3, 3, 3);
    text-align: center;
    border: black 2px solid;
    border-radius: 50%;
    padding: .3rem;
    cursor: pointer;
    width: 2rem;
    bottom: 2rem;
    transition: all 1s;
    z-index: 170;
}
.btnTop:hover{
    opacity: .5;
    transform: scale(1.2);
}