main{
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    height: 100vh;
}
.multas{
    border: 2px solid yellow;
    border-radius: 15px;
    width: 15rem;
    margin: 0 auto;
}

.multas h1{
    padding: 1rem;
}

.multas input{
    background-color: rgba(255, 255, 0, 0);
    border: 3px solid yellow;
    border-radius: 15px;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.multas button{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
    border: solid 2px yellow;
    margin-top: 1rem;
    margin-left: 1rem;
}

.multas h3{
    margin-top: 2rem;
}

.multas h2{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
